table{
    width:100%;
}
h1{
    text-align: center;
}
td,th {
    border:2px solid black;
    width: 14.27%;
}
th{
    padding: 8px 0;
}
td{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 32px;
}
.weekend{
    background-color: purple;
    color:red;
}
.weekday{
    background-color:blue;
    color:red;
}
.week1{
    background-color: orange;
}